body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 100%;
}
.link-btn{
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border: none;as;dlfkalwekr
    border-radius: 5px;
    color: white;
    text-decasdwawerration: none;
    font-weight: 700;
    akljsdhfkqhwejklrh
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}